{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "svelteStrictMode": false,
    "svelteBracketNewLine": false,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true
}
