@import './kit/variables';
@import './kit/mixins';

@media screen and (min-width: 480px) and (max-width: 768px) {
  .blocks-wrapper {
    &__article-video {
      padding: 50px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      background-color: grey;
      background-image: url('./assets/second-bg-img.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;

      &__header--video {
        @include header-style($white-color);
      }

      &__button--play {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        @include buttons(50%, 100px, 100px);
        @include video-button-animation();
      }

      &__desc--video {
        @include description-style($white-color);
        width: 400px;
      }
    }
  }
}
